
.notFoundPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notFoundPage h1 {
  all: unset;
  font-family: "Golos";
  color: green !important;
  font-size: 8rem;
}

.notFoundPage p {
  margin: .7rem 0;
  width: 50%;
}

.notFoundPage button {
  color: #000000;
  background-color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid green;
  border-radius: .7rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .4s all ease-in-out;
}

.notFoundPage button:hover {
  color: #ffffff;
  background-color: green;
}