:root {
  --green: #01753D;
  --gold: #AE9B31;
}

.sectionWrap {
  font-family: "Golos";
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7rem;

}

.top h2 {
  font-family: var(--font-main);
  font-size: 6rem;
  color: var(--green);
  transform: scale(1.1);
}

.sectionWrap h3 {
  font-size: 3rem;
}

.bottom {
  display: flex;
  gap: 10rem;
}

.bottomRight {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottomRight p {
  opacity: .8;
  font-size: 1.4rem;
}

.imgContainer {
  position: relative;
}

.volunteers {
  border-radius: 4rem;
  position: relative;
  display: inline-block;
  z-index: 10;
}

.appleHand {
  height: 300px;
  width: 300px;
  z-index: .9;
  position: absolute;
  right: -220px;
}

.bottom button {
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: var(--font-main);
  font-weight: 600;
  border: 2px solid #000;
  border-radius: .7rem;
  padding: 0.5rem .6rem;
  width: 70%;
  transition: .3s all ease-in-out;
}

.bottom button:hover {
  color: #fff;
  border: 2px solid var(--gold);
  background-color: var(--gold);
}

aside {
  text-align: left;
  margin-right: auto;
}

.sectionWrap aside {
  text-align: left;
  margin-right: auto;
  transform: translateX(-55px);
}

.numberCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--gold);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberText {
  font-weight: 600;
  font-size: 1.15rem;
  color: var(--gold);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


@media (max-width: 850px) {
  .sectionWrap {
    font-size: 1rem;
    margin-left: 0;
    align-items: flex-start;
    overflow: hidden;
  }

  .bottom {
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
  }

  .top {
    order: -1;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .top h2 {
    font-size: 3rem;
    margin: 0;
    margin-left: 2.1rem;
  }

  .number {
    position: static;
    margin-bottom: 4rem;
    order: -2;
  }

  .number p {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .imgContainer {
    width: 100%;
  }

  .volunteers {
    width: 100%;
    height: auto;
    border-radius: 3rem;
  }

  .appleHand {
    display: none;
  }

  .bottomRight {
    font-size: 0.9rem;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: .4rem;
  }

  .bottom button {
    width: auto;
  }

  .sectionWrap aside {
    text-align: left;
    margin-right: auto;
    transform: translateX(5px);
  }
}
